
body {
    margin: 100px;
}

.box {
    height: 300px;
    width: 300px;
    background-color: black;
    transition-duration: 500ms;
}

.box:hover {
    width: 500px;
    background-color: red;
    transform: translate(50px, 200px);
}