body {
   background-image: url(Backgroung.jpg);
   background-repeat: no-repeat;
  /* background-position: 100% 10%;*/
  background-position: center;
  background-size: cover;
}

p {
    color:#000000
}